<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Technical Indicators</title>
</head>
<body>
<h1>Technical Analysis for <span th:text="${companyName}"></span></h1>

<h2>Moving Averages</h2>
<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${movingAverages}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>

<h2>Oscillators</h2>
<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${oscillators}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
